@model PWA_Test.Models.Case

<div>
    <h4>Case</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rmReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rmReference)
        </dd>

        <dt>
           Returned XML
        </dt>

        <dd>
            @Html.DisplayFor(model => model.returnedXML)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
