@model PWA_Test.Models.DesktopCases

@{
    ViewBag.Title = "";
}

<div class="left-tables">
    <p>
        <a style="margin-top:-50px" class="casesbtn" href="~/DesktopCases">Back to list</a>
        @*  @Html.ActionLink("Valuation", "Edit", new { id = Model.Id }) |*@
        @*<a style="margin-top:-100px" class="casesbtn" href="~/Map" target="_blank">Map</a>*@
    </p>

    <form style="margin-top:-80px" action="@Url.Action("Index", "Map", new { address = Model.Address, postcode = Model.Postcode })" method="POST" target="_blank">
        <input class="casesbtn" type="submit" value="Map" />
    </form>

    <div class="table tableNC">
        <div class="bar1">Desktop Case<span class="minustable glyphicon glyphicon-minus" style="color: white; font-size: 14px; float: right; margin-right: 10px; margin-top: 3px;"></span></div>
        <div class="Details slide">


            <table class="desktop-table">
                <tr>
                    <td>@Html.DisplayNameFor(model => model.CaseRef)</td>
                    <td>@Html.DisplayFor(model => model.CaseRef)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.PlatformRef)</td>
                    <td>@Html.DisplayFor(model => model.PlatformRef)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Address)</td>
                    <td>@Html.DisplayFor(model => model.Address)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Postcode)</td>
                    <td>@Html.DisplayFor(model => model.Postcode)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.EstimatedVal)</td>
                    <td>@Html.DisplayFor(model => model.EstimatedVal)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.LoanAmount)</td>
                    <td>@Html.DisplayFor(model => model.LoanAmount)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.OriginalLTV)</td>
                    <td>@Html.DisplayFor(model => model.OriginalLTV)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.PropertyType)</td>
                    <td>@Html.DisplayFor(model => model.PropertyType)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.PropertyStyle)</td>
                    <td>@Html.DisplayFor(model => model.PropertyStyle)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Beds)</td>
                    <td>@Html.DisplayFor(model => model.Beds)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Tenure)</td>
                    <td>@Html.DisplayFor(model => model.Tenure)</td>
                </tr>
            </table>
        </div>
    </div>

    <a href=@Html.DisplayFor(model => model.ComparablesLink) alt="Comparable properties" class="casesbtn" target="_blank">Go to Right Move</a>

    <form action="@Url.Action("Index", "Comparable", new { id = Model.Id })" method="POST" target="_blank">
        <input class="casesbtn" type="submit" value="Retrieve Comparables" />
    </form>

    <br />
    <br />
</div>



