@model PWA_Test.Models.DesktopCases

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DesktopCases</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CaseRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlatformRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlatformRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedVal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedVal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalLTV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalLTV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyStyle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyStyle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tenure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenure)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurveyorFK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyorFK)
        </dd>*@

        <dt>
            <strong>@Html.DisplayNameFor(model => model.ComparablesLink)</strong>
        </dt>

        <dd>
            <a href=@Html.DisplayFor(model => model.ComparablesLink) alt="Comparable properties" class="btn btn-primary">Go to Right Move</a>
        </dd>

        <dt>
            <strong>Retrieve Comparables</strong>
        </dt>

        <dd>
            <form action="@Url.Action("Index", "Comparable", new { id = Model.Id })" method="POST">
                <input class="btn btn-primary" type="submit" value="Retrieve comparables" />
            </form>
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
