@model PWA_Test.Models.DesktopCases

@{
    ViewBag.Title = "";
}



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Desktop Case </h4>
    <hr />
    <div class="address-font text-center">
        @Html.Partial("_AddressPartial", (string)@ViewBag.Address)

    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)


    <div class="form-group form-inline">
        @Html.LabelFor(model => model.EstimatedVal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.EstimatedVal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EstimatedVal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group form-inline">
        @Html.LabelFor(model => model.CalculatedVal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.CalculatedVal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CalculatedVal, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group form-inline">
        @Html.LabelFor(model => model.SurveyorValuation, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SurveyorValuation, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SurveyorValuation, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group form-inline">
        @Html.LabelFor(model => model.NewLTV, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.NewLTV, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NewLTV, "", new { @class = "text-danger" })
        </div>
    </div>



   


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input class="button btn-success" type="submit" value="Save" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
