@model PWA_Test.Models.Comparable
@{
    ViewBag.Title = "Comparable Property Details";
}

<div class="left-tables" style="width: 50%;">
    <p>
        <a style="margin-top:-100px" class="casesbtn" href="~/Map" target="_blank">Map</a>
    </p>

    <h4>Comparable Property Details</h4>
    <hr />

    <div class="address-font text-center">
        @Html.Partial("_AddressPartial", (string)@ViewBag.Address)
    </div>

    <dl class="dl-horizontal" style="text-align:center;">
        <dd>
            <img style="width: 60%; text-align: center" src=@Html.DisplayFor(model => model.image) alt="Property image" />
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.addressLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addressLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.compScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bedrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bedrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propStyle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propStyle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.floorArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.floorArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.askingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.askingPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rmStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rmStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yearBuilt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yearBuilt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to the Comparables List", "Index", new { id = Convert.ToInt32(ViewData["Id"]) })
</p>
