@model IEnumerable<PWA_Test.Models.Comparable>
@{
    ViewBag.Title = "Comparables List";
}
<div>
    <h4>Comparables List</h4>
    <hr />

    @*@Html.Partial("_AddressPartial")*@

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.subjectAddress)
        </dt>

        <dd>
            @ViewData["subjectAddress"]
        </dd>
        <dd>
            @ViewData["subjectPostcode"]
        </dd>
    </dl>

    @foreach (var item in Model)
    {
        <dl class="dl-horizontal">
            <dt>Rank @item.rank property</dt>
            <dd>
                @Html.ActionLink(" ", "Details", new { rank = item.rank }, new { @class = "link-icon" })
            </dd>
        </dl>
    }

</div>
