@model IEnumerable<PWA_Test.Models.Comparable>
@{
    ViewBag.Title = "Comparables List";
}
<div class="left-tables" style="text-align:left">
    <p>
        <a style="margin-top:-100px" class="casesbtn" href="~/Map" target="_blank">Map</a>
    </p>

    <h4 style="text-align:center">Comparables List</h4>

    <div class="address-font text-center">
        @Html.Partial("_AddressPartial", (string)@ViewBag.Address)
    </div>

    <dl style="text-align:center" class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.subjectAddress)
        </dt>

        <dd>
            @ViewData["subjectAddress"]
        </dd>
        <dd>
            @ViewData["subjectPostcode"]
        </dd>
    </dl>

    @foreach (var item in Model)
    {
        <dl style="margin-left: 165px" class="dl-horizontal">
            <dt>Rank @item.rank property</dt>
            <dd style="align-content: center">
                @Html.ActionLink(" ", "Details", new { rank = item.rank }, new { @class = "link-icon" })
            </dd>
        </dl>
    }

    <p style="text-align:center">
        @Html.ActionLink("Close", "", "", new { onclick = "window.close()" })
    </p>
</div>

@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {

    })
    $(document).on('click', '.table tr', function () {
        let link = $(this).children('td').children('a').attr('href');
        location.href = link;

    });
</script>
