@model PWA_Test.Models.DesktopCases

      
<div class="font-weight-bold address-font">

    @*@Html.DisplayNameFor(model => model.CaseRef)

        @Html.DisplayFor(model => model.CaseRef)

        @Html.DisplayNameFor(model => model.PlatformRef)

        @Html.DisplayFor(model => model.PlatformRef)*@

    @*@Html.DisplayNameFor(model => model.Address)*@
    &nbsp;
    @Html.DisplayFor(model => model.Address)
  
    @*@Html.DisplayNameFor(model => model.Postcode)*@
    &nbsp;
    @Html.DisplayFor(model => model.Postcode)
</div>
      

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
