@model PWA_Test.Models.tbl_User

@{
    ViewBag.Title = "Recover Password";
}


@using (Html.BeginForm("RecoverPassword", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="center2">
        <div class="mfa">
            <p style="color: white;">Please enter your email address and we will send you a password reset link.</p>
            @Html.TextBoxFor(a => a.Email, new { @class = "textboxlogin", @placeholder = "Email Address", @id = "email" })
            @Html.ValidationMessageFor(a => a.Email, null, new { @class = "validationError" })
            @Html.ValidationSummary(true, null, new { @class = "validationError" })
            <input type="submit" value="Reset Password" name="SendPasswordResetLink" class="loginButton" />
            @Html.ActionLink("Cancel", "Login", null, new { @style = "text-align: center; " })
        </div>

        @if (ViewBag.ShowSuccess != null)
        {
            if (ViewBag.ShowSuccess)
            {
                <div>
                    <div class="alert alert-success">
                        <p>A link for your password reset has been emailed to your account's email address.</p>
                    </div>
                </div>
            }
        }

        @if (ViewBag.ShowFailure != null)
        {
            if (ViewBag.ShowFailure)
            {
                <div>
                    <div class="alert alert-danger">
                        <p>We could not find this email address registered. Please contact 01268 644189 or 01268 644162 for help.</p>
                    </div>
                </div>

            }
        }
    </div>

}


@section scripts{

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")


    <script>
        $(document).ready(function () {

            $("body").fadeIn(2000, function () {

            });
        });</script>
}