@model PWA_Test.Models.tbl_User

@{
    ViewBag.Title = "Reset Password";
}


@using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="center2">
        @if (ViewBag.ShowErrorDiv)
        {
            <div>
                <div class="centreDiv" runat="server" id="errorDiv">
                    <p>The link you are using has expired.</p>
                    <p>If you have forgotten your password please click @Html.ActionLink("here", "RecoverPassword") to request a new link.</p>
                    <p>If you remember your password, please login @Html.ActionLink("here", "Login").</p>
                </div>
            </div>
        }
        @if (ViewBag.ShowPasswordDiv)
        {
            <div>
                <input type="password" id="tbNewPassword" name="NewPassword" placeholder="New Password" class="textboxlogin" />
                <input type="password" id="tbNewPasswordConfirm" name="NewPasswordConfirm" placeholder="Retype New Password" class="textboxlogin" />
                <input type="submit" class="loginButton" value="Confirm Password Change" name="btnConfirmPasswordChange" onclick="return Validate();" />
                <label id="lblError" style="color:white; font-weight:100;"></label>
            </div>
        }

        @if (ViewBag.ResultSuccess)
        {
            <div>
                <div class="alert alert-success" id="success">
                    <h4>Your password has been reset successfully</h4>
                    <p>
                        @Html.ActionLink("Log in now", "Login", null, new { @class = "loginButton", @style = "text-align: center; margin-left:4%;" })


                    </p>
                </div>
            </div>
        }

        @if (ViewBag.ResultFailure)
        {
            <div>
                <div class="alert alert-danger" id="failure">
                    <h4>Failed to reset the password</h4>
                    <p>Please contact 01268 644189 or 01268 644162 for help.</p>
                </div>
            </div>
        }

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script>
        $(document).ready(function () {

            $("body").fadeIn(2000, function () {

            });
        });
                function Validate() {


                    var newPassword = $("#tbNewPassword");
                    var newPasswordConfirm = $("#tbNewPasswordConfirm");

                    if (newPassword.val() == "") {
                        $("#lblError").text("Please type in your new password")
                        return false;
                    }
                    else if (newPasswordConfirm.val() == "") {
                        $("#lblError").text("Please retype your new password")
                        return false;
                    }
                    else if (newPassword.val().length < 8) {
                        $("#lblError").text("Your password must be 8 characters or longer")
                        return false;
                    }
                    else if (newPasswordConfirm.val().length < 8) {
                        $("#lblError").text("Your password must be 8 characters or longer")
                        return false;
                    }
                    else if (newPassword.val() != newPasswordConfirm.val()) {
                        $("#lblError").text("Passwords do not match")
                        return false;
                    }
                    else {
                        this.form.submit();
                    }


                }
    </script>
}



